<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TODO APP</title>


  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.css">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
  <style>
  
  </style>
</head>

<body class="body_color">
  <div style="margin-top: 50px;" class="ui container">
    <h1 class="ui center aligned header">Todo App</h1>

    <form class="ui form" id="form">
      <div class="field">
        <label for="title">Todo Title</label>
        <input type="text" id="title" placeholder="Enter Todo...">
        <input class="ui blue button" style="margin-top: 10px;" type="submit" value="Create" />
      </div>
    </form>
    <div id="error" class="hidden">Something went wrong!</div>
    <ul id="todos">
      {% for todo in todo_list %}
      <div class="ui segment">
        <li class="ui big header"> 
          <input class = "check-completed" data-id="{{todo.id}}"  type="checkbox" {% if todo.completed %} checked   {% endif %} /> 
          {{ todo.title }}
        </li>

        {% if todo.completed %}
        <span class="ui green label">Completed </span>
        {% else %}
        <span class="ui orange label">Not complete</span>
        {% endif %}

        <!-- <a class="ui blue button" href="/update/{{ todo.id }}">Update</a> -->
        <a class="delete-button ui red button" data-id="{{ todo.id }}"> <i class="trash icon"></i> Delete</a>
      </div>
      {% endfor %}
    </ul>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.js"></script>
  <script>
    const checkboxes = document.querySelectorAll('.check-completed');
    for (let i = 0 ; i < checkboxes.length ; i++) {
      const checkbox = checkboxes[i];
      checkbox.onchange = function(e) {
        console.log('event', e);
        const newCompleted = e.target.checked;
        const todoId = e.target.dataset['id'];
        fetch('/todos/' + todoId + '/set-completed', {
          method: 'POST',
          body: JSON.stringify({
            'completed': newCompleted
          }),
          headers: {
            'Content-Type': 'application/json'
          }
        })
        .then(function(response) {
          document.getElementById('error').className='hidden';
        })
        .catch(function() {
          document.getElementById('error').className ='';
        })
      }
    }

  const deleteBtns = document.querySelectorAll('.delete-button');
  for (let i = 0; i < deleteBtns.length; i++) {
    const btn = deleteBtns[i];
    btn.onclick = function(e) {
      const todoId = e.target.dataset['id'];
      fetch('/todos/' + todoId, {
        method: 'DELETE'
      });
    }
  }

    document.getElementById('form').onsubmit = function(e) {
    e.preventDefault();

    fetch('/todos/create', {
        method: 'POST',
        body: JSON.stringify({
          'title': document.getElementById('title').value
        }),
        headers: {
          'Content-type': 'application/json',
        }
      })
    .then(function(response) {
        return response.json();
      })
    .then(function(jsonResponse) {
        console.log(jsonResponse);
        const liItem = document.createElement('LI');
        liItem.innerHTML = jsonResponse['title'];
        document.getElementById('todos').appendChild(liItem);
        document.getElementById('error').className='hidden';
      })
    .catch(function() {
      document.getElementById('error').className ='';
    })
      
    }
  </script>
</body>

</html>
