<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TODO APP</title>


  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.css">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
</head>

<body class="body_color">
  <div style="margin-top: 50px;" class="ui container">
    <h1 class="ui center aligned header">Todo App</h1>

    <form class="ui form" action="/add" method="post">
      <div class="field">
        <label for="title">Todo Title</label>
        <input type="text" name="title" placeholder="Enter Todo...">
        <br>
        <button class="ui blue button" type="submit">Add</button>
      </div>
    </form>
    {% for todo in todo_list %}
    <div class="ui segment">
      <p class="ui big header">{{ todo.id }} | {{ todo.title }}</p>

      {% if todo.complete == False %}
      <span class="ui gray label">Not complete</span>
      {% else %}
      <span class="ui green label">Completed</span>
      {% endif %}

      <a class="ui blue button" href="/update/{{ todo.id }}">Update</a>
      <a class="ui red button" href="/delete/{{ todo.id }}"> <i class="trash icon"></i> Delete</a>
    </div>
    {% endfor %}
  </div>
  <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.js"></script>
</body>

</html>
